*,
::after,
::before {
  box-sizing: border-box;
}

img {
  display: block;
}

button {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.card__wrapper {
  max-width: 288px;
  max-height: 630px;
}
.card-image__wrapper {
  position: relative;

  max-width: 288px;
  max-height: 395px;

  overflow: hidden;
}
.card__image {
  filter: brightness(50%);
}
.card-jobsearching {
  display: block;
  width: 112px;
  height: 24px;

  background-color: rgba(68, 64, 247, 0.7);

  border-radius: 0px 4px 4px 0px;

  text-align: center;
  padding-top: 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: white;

  position: absolute;
  left: 0;
  top: 44px;
}

.card-already__read {
  display: block;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #00dd73;

  position: absolute;
  right: 36px;
  top: 14px;
}

.card-already__read::after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background-image: url('./icons8-галочка\ 1.svg');

  position: absolute;
  right: -24px;
  top: 0;
}

.is-hidden {
}
.card__btn {
  display: flex;
  justify-content: center;

  width: 126px;
  height: 28px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  align-items: center;

  background: #ffffff;
  border: none;
  border-radius: 20px;

  position: absolute;
  right: 8px;
  bottom: 12px;
}

.card__btn::after {
  content: '';
  display: flex;

  width: 15px;
  height: 15px;

  background-image: url('./heart.svg');

  margin-left: 6px;
}

.card__title {
  margin-top: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.01em;

  color: #111321;
}
.card__article {
  margin-top: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #111321;
}
.card__info {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}
.card__info--date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;

  color: #a8a8a8;
}
.card__info--readmore {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #4440f7;

  border: none;
}
